.cdrc
.local.mk
.promoted
.vscode
*.bin
*.o
*.o
*.tmp
debug/*
demo.sh
local.sh
test/.creds.sh
updater
updater.bin
updater.dSYM/
build/
.agent/**
projects/updater-macosx-mine*
.testme
test/node_modules
test/package.json
.DS_Store
.cdrc.bat
settings.local.json
